
<table class="table table-hover table-striped table-match">
    <tbody>
        <tr ng-repeat="item in matches" id="match_{{item.id}}">
            <td width="15%" class="match-date">{{item.date | momentFormat: 'DD/MM/YYYY hh:mm A'}}</td>
            <td width="25%" class="text-right match-hometeam">
                <span data-id="team-{{item.homeTeam}}" class="team-name">
                    <i class="flag-icon flag-icon-{{item.homeTeamIso2}}"></i>
                    {{item.homeTeamName}}
                </span>
                <label class="match-label">
                    <input readonly id="match-{{item.id}}-result-home" ng-model="item.homeResult" data-type="home" type="text" class="match-result">
                </label>
            </td>
            <td class="text-center match-spacer"></td>
            <td>
                <label class="match-label">
                    <input readonly id="match-{{item.id}}-result-away" ng-model="item.awayResult" data-type="away" type="text" class="match-result">
                </label>
                <span data-id="team-{{item.awayTeam}}" class="team-name">
                    <i class="flag-icon flag-icon-{{item.awayTeamIso2}}"></i>
                    {{item.awayTeamName}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
