<div class="row clearfix" ng-controller="app.views.about as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About This Game
                </h2>
            </div>
            <div class="body">
                <p>
                    This is a simple game for a small group or team to use this World Cup - Russia 2018.
                    Just go to "Bets" page and place your prediction score on the matches.
                </p>

                <h3>The Rules</h3>

                <p>
                    <strong>There are THREE(3) rules:</strong><br />
                    <ul>
                        <li>
                            1/ If your prediction is exactly as the result of the match, then you will get FIVE(5) points on this match. e.g Your prediction: 1-0 and Result 1-0.
                        </li>
                        <li>2/ If you predict correct the WINNER/LOSER or a DRAW score as the result, then you will get THREE(3) points on this match. e.g Your prediction: 2-1 and Result: 1-0 or 3-0 or 3-2 you got 3 points.</li>
                        <li>3/ If you have a matching on any side of the score with the result, then you will get ONE(1) point. e.g Your prediction: 2-1 but Result: 0-1, luckily you can also got 1 point.</li>
                    </ul>
                </p>
                <p>
                    The winner is the one who has highest score.
                    The rules will be applied top down means if you got (1) rule then other rules (2) and (3) will be ignored.
                </p>
            </div>
        </div>
    </div>
</div>