@using System.Web.Optimization
@Scripts.Render("~/Bundles/home-index")
<div ng-controller="app.views.home as vm">

    <div class="block-header">
        <h2>SAMPLE DASHBOARD</h2>
    </div>

    <!-- Widgets -->
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">YOUR POSITION</div>
                    <div class="number">{{vm.position}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Widgets -->
    
    <div class="row clearfix">
        <!-- Standings -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <h2>STANDINGS</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-match">
                            <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Points</th>
                                </tr>
                                <tr ng-repeat="item in vm.standings" id="standing_{{item.id}}">
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.points}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Standings -->
        <!-- Next Matches -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <h2>NEXT MATCHES</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <matches matches="vm.matches"></matches>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Next Matches -->
    </div>

</div>